.ais-Hits__root {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 15px;
  grid-auto-rows: minmax(100px, auto);

  @include breakpoint(desktop){
    grid-template-columns: repeat(3, 2fr);
  }

  /*@include breakpoint(wide-screens) {
    grid-template-columns: repeat(4, 2fr);
  }*/
}