.c-carousel {
  width: 100%;
  margin: auto;
  overflow: hidden;

  @include breakpoint(desktop) {

    &__content {
      height: 100%;
    }
  }
}

.carousel .control-dots {
  position: relative;
  margin: auto;
  padding: 0;
}

.carousel .dot.dot {
  background-color: grey;
  box-shadow: none;
}

.carousel .dot.selected {
  background-color: $alert-orange;
  box-shadow: none;
}
