.c-cart-summary {
  border-top: 1px solid $border-default;
  overflow: hidden;

  @include breakpoint(desktop) {
    margin-left: 50%;
  }

  dt {
    float: left;
    clear: left;
  }

  dd {
    text-align: right;
    margin-left: 50%;
    padding: 0 0 0 .5em;
  }
}
