.c-carousel {
  width: 100%;
  margin: auto;
  overflow: hidden;

  @include breakpoint(desktop) {
    width: 19.4rem;

    &__content {
      height: 100%;
    }
  }
}

.slick-next {
  padding-right: 3rem;
}

.slick-prev {
  margin-left: 1.7rem;
  z-index: 1;
}
