.c-half {

  &-gallery {
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 2.5rem;
    position: relative;

    @include breakpoint (desktop) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__image {
    position: relative;
    z-index: 0;
  }

  &__text {
    color: white;
    font-size: 0.8rem;
    margin-top: -8.5rem;
    position: relative;
    text-align: center;
    z-index: 1;

    @include breakpoint (desktop) {
      font-size: 1rem;
    }
  }

  &__button {
    position: relative;
    text-align: center;
    z-index: 1;

    &-icon {
      text-transform: uppercase;
    }
  }
}
