.c-header {
  &__account {
    height: 2.5rem;
    width: 33.3%;
    background: white;
    margin: auto auto -2.5rem auto;

    @include breakpoint(desktop) {
      display: none;
    }

    &-button {
      background: url('/static/account-icon.svg') no-repeat center;
      width: 3rem;
      height: 2.4rem;
      margin: auto 50% auto auto;

      @include breakpoint(desktop) {
        display: none;
      }
    }

    &-label {
      font-size: 0.8rem;
      padding-top: 1.1rem;
      padding-left: 2.6rem;

      @include breakpoint(desktop) {
        display: none;
      }
    }
  }

  &__minibag {
    float: right;
    height: 2rem;
    width: 33.3%;
    border-left: 1px solid $border-default;

    @include breakpoint(desktop) {
      order: 3;
      display: inline-flex;
      height: auto;
      margin: 0;
      border: none;
      align-items: baseline;
      float: none;
    }
  }

  &__search {
    display: block;
    margin: auto;
    width: 100%;

    @include breakpoint(desktop) {
      order: 2;
      width: 33.3%;
    }
  }
}
