.c-line-items {
  display: grid;
  width: 100% !important;
  margin: 15px 0px;
  padding: 15px 0px;

  &__header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  &__column {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    vertical-align: middle;
    margin-top: 15px;
  }

  &__image {
    height: 90px;
    width: 90px;
    max-width: 100px;

    @include breakpoint(desktop) {
      height: 200px;
      width: 150px;
      max-width: 100%;
    }
  }
}
