.c-minibag {
  &__cart {
    background: url('/static/bag-icon.svg') no-repeat center center;
    cursor: pointer;
    height: 40px;
    width: 50px;
    margin: auto;
    margin-right: 45%;

    @include breakpoint(desktop) {
      order: 1;
      background: none;
      position: relative;
      width: 30%;
      height: auto;
      margin: 0;
    }

    &-count {
      background-color: #F06A52;
      border-radius: 50%;
      color: white;
      font-size: 0.6em;
      margin-right: 20px;
      padding: 3px;
      margin-left: 6px;

      @include breakpoint(desktop) {
        background-color: transparent;
        border-radius: 0;
        color: black;
        margin: 0;
        padding: 0;
        font-size: 1em;
      }
    }

    &-label {
      &--small {
        padding-left: 45px;

        a {
          color: black;
          display: block;
          font-size: 0.8em;
        }

        @include breakpoint(desktop) {
          display: none;
        }
      }

      &--large {
        display: none;

        @include breakpoint(desktop) {
          display: inline-block;
          width: 108px;
        }

        a {
          color: black;
          display: inline-block;
          font-size: 1em;
          padding-top: -3px;
        }
      }
    }
  }

  &__checkout {
    display: none;

    @include breakpoint(desktop) {
      order: 2;
      display: inline-block;
    }
  }
}
