.c-nav {

  &__checkbox {
    visibility: hidden;
  }

  &__checkbox:checked~.c-nav__menu {
    right: 0;
  }

  &__menu {
    height: 100%;
    overflow-y: scroll;
    border-right: 1px solid $border-default;
    background-color: white;
    overflow: auto;
    position: fixed;
    right: 100%;
    transition: right 0.25s;
    z-index: 999;
    top: 0;
    bottom: 0;
    width: 100%;
    -webkit-overflow-scrolling: touch;

    @include breakpoint(desktop) {
      height: auto;
      overflow-y: visible;
      overflow: hidden;
      transition: none;
      border-top: 1px solid $border-default;
      border-bottom: 1px solid $border-default;
      border-right: none;
      position: static;
      width: 100%;
    }

    &-button {
      display: inline-block;
      height: 2rem;
      width: 33.3%;
      float: left;
      border-right: 1px solid $border-default;

      @include breakpoint(desktop) {
        display: none;
      }

      &-icon {
        cursor: pointer;
        background: url('/static/burger-menu-icon.svg') no-repeat center;
        display: inline-block;
        height: 2.45rem;
        width: 3rem;
        margin-right: 1.9rem;

        p {
          padding-top: 0.26rem;
          padding-left: 2.5rem;
        }

        @include breakpoint(desktop) {
          display: none;
        }
      }
    }

    &-list {
      font-size: 1.25em
    }

    &-header{

      &-logo {
        margin: 1em 1em 0.8em 1em;
        padding-left: 2.5em;

        @include breakpoint(desktop) {
          display: none;
        }
      }

      &-cross {
        background: url('/static/cross.svg') no-repeat center;
        height: 5.05em;
        width: 5.05em;
        float: right;
        background-color: black;
        margin-top: -1.2em;

        @include breakpoint(desktop) {
          display: none;
        }
      }

      &-search {
        text-align: left;

        @include breakpoint(desktop) {
          display: none;
        }
      }
    }

    &-footer {

      &-email {
        background-color: $background-positive;
        padding-bottom: 0.2em;

        @include breakpoint(desktop) {
          display: none;
        }

        &-text {
          padding-top: 1em;

          @include breakpoint(desktop) {
            display: none;
          }

          p {
            margin: 0;
            color: white;
          }
        }

        &-input {
          height: 2.97em;
          width: 90%;
          margin: 0.9rem auto;
          background-color: white;
          color: grey;
          text-align: left;

          @include breakpoint(desktop) {
            display: none;
          }

          p {
            display: inline-block;
            padding-left: 0.5em;
          }
        }

        &-button {
          font-size: 0.7em;
          height: 4.3em;
          width: 10em;
          background: black;
          float: right;
          margin: 0;
          text-transform: uppercase;
        }
      }

      &-content {
        background-color: white;

        @include breakpoint(desktop) {
          display: none;
        }
      }

    .c-nav__menu-footer-link-first {
        border: 0;
      }

      &-links {
        margin: 3rem auto;
        font-size: 1.2em;

        @include breakpoint(desktop) {
          display: none;
        }

        a {
          padding: 0.2em 0.6em;
          border-left: 1px solid $border-default;
        }
      }

      &-social {
        margin-bottom: 3rem;

        &-links {
          display: flex;
          margin: 0.6rem auto;
          width: 8rem;
          height: 2rem;
        }

        &-link {
          width: 33.3%;

          &--facebook {
            background: url('/static/facebook.svg') no-repeat center;
          }

          &--instagram {
            background: url('/static/instagram.svg') no-repeat center;
          }

          &--twitter {
            background: url('/static/twitter.svg') no-repeat center;
          }
        }
      }
    }
  }

  &__option {
    background-color: $background-light-grey;
    padding-left: 1.4em;
    padding-top: 1.5em;
    text-align: left;
    width: 100%;
    display: block;
    font-weight: 700;
    color: $text-dark;
    border-top: 1px solid $border-default;
    height: 6em;

    @include breakpoint(desktop) {
      width: auto;
      display: inline-block;
      border-top: 0;
      padding: 1.25em 0.75em;
      border-right: 1px solid $border-default;
      border-top: none;
      font-size: 1em;
      font-weight: normal;
      height: auto;
      background-color: white;
    }

    &:hover {

      @include breakpoint(desktop) {
        border-top: 1px solid $text-error;
      }
    }

    &--first {

      @include breakpoint(desktop) {
        border-left: 1px solid $border-default;
      }
    }

    &-text {
      font-size: 0.6em;
      font-weight: 500;
      margin-top: 0.6rem;

      @include breakpoint(desktop) {
        display: none;
      }
    }
  }

  &__error {
    text-align: center;
  }
}
