.c-product {
  text-align: center;
  font-size: 13px;
  font-family: tahoma;
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px;
  display: -webkit-box;
  -webkit-box-orient: vertical;

  a {
    text-decoration: none;
  }

  .c-product__image-container{
    justify-content: center;

    .c-product__image img {
      width: auto;
      max-height: 380px;
    }
  }

  .c-product__title {
    line-height: 1.5;
    margin-top: 15px;
    margin-bottom: 5px;
    color: $text-dark;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .c-product__sku {
    margin-top: 5px;
    margin-bottom: 5px;
    color: $text-error;
  }

  .c-product__price {
    margin-bottom: 10px;
    font-weight: 800;
    color: $text-dark;
  }

  .c-product__view-details {
    margin-bottom: 10px;
  }

  .c-product__rating--fill {
    color: $text-gold;
  }

  .c-product__rating--empty {
    color: $text-default;
  }
}
