.c-payment-method-button {
  display: inline-block;
  padding: 0 2rem;
  border: 1px solid black;
  &:last-of-type {
    border-left: 0;
  }
  &__active {
    background: $background-grey;
  }
  span {
    line-height: 3rem;
  }
}
