/* ==========================================================================
   # Product Listing Component
   ========================================================================== */

.c-product_list {
  margin-top: 0;
  margin-bottom: 10px;
  width: 100% !important;
  border-top: 1px solid $border-divider;

  .c-product_list__container {
    @include breakpoint(desktop) {
      display: flex;
    }
  }

  .c-product_list__sidebar,
  .c-product_list__listing {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
  }

  .c-product_list__sidebar {
    width: 20%;
    margin-top: 15px;

    &--filter {
      font-size: .85714rem;

      @include breakpoint(desktop){
        vertical-align: top;
      }
    }

    &--filter-title {
      font-weight: 600;
      line-height: 1.1;
      display: inline-block;
      width: 100%;
      cursor: pointer;
      padding: .5em 0;
      margin-bottom: 0;
      border-top: 1px solid $border-divider;
    }
  }

  .c-product_list__listing {
    width: 80%;

    &--stats {
      @include breakpoint(desktop){
        display: flex;
        width: 100%;
        padding-top: 10px;
        padding-left: 15px;
        padding-right: 15px;
        justify-content: flex-start;
      }
    }

    .c-product_list__actions {
      @include breakpoint(desktop){
        display: flex;
      }

      &--pagination {
        @include breakpoint(desktop){
          display: flex;
          width: 50%;
          padding-left: 15px;
          padding-right: 15px;
          justify-content: flex-start;
        }
      }

      &--sort {
        @include breakpoint(desktop){
          display: flex;
          width: 50%;
          padding: 15px;
          justify-content: flex-end;
        }
      }
    }

    .c-product_list__products {
      padding-top: 15px;
      padding-bottom: 15px;
      border-top: 1px solid $border-divider;
      border-bottom: 1px solid $border-divider;

      @include breakpoint(desktop){
        padding-top: 30px;
        padding-bottom: 30px;
      }

      &--no-results {
        text-align: center;
        color: #ccc;
      }
    }
  }
}
