.c-product-listing-card {
  font-size: 0.85rem;

  &__view-details,
  &__price,
  &__rating {
    text-align: center;
  }

  &__title {

    p {
      text-align: center;
      margin: 0;
      padding: 0.7em 0;
    }
  }

  &__image {
    cursor: pointer;
  }
}
