.c-step-indicators {
  width: 100%;
  vertical-align: top;

  @include breakpoint(desktop) {
    width: 80%;
  }

  &__logo {
    width: 100%;
    display: block;
    margin-top: 20px;
    text-align: center;

    @include breakpoint(desktop) {
      width: 20%;
      left: 0;
    }
  }

  &__steps {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    border-bottom: 1px solid #eee;
    
    @include breakpoint(desktop) {
      width: 80%;
      margin-top: 0;
    }

    .c-step-indicator {
      color: $text-default;

      a, a:link, a:hover, a:visited {
        color: inherit;
      }

      &__line {
          display: none;

        &--completed {
          display: block;
          margin-top: -32%;
          margin-bottom: 32%;
          margin-left: 70%;
          width: 60%;
          z-index: -999;
          border: 1px solid $background-positive;
        }
      }

      &__position {
        display: block;
        margin: 10px auto;
        height: 45px;
        width: 45px;
        line-height: 45px;
        border-radius: 50%;
        text-align: center;
        background-color: $checkout-grey;

        &--active {
          background-color: $background-positive;
          height: 45px;
          width: 45px;
          border-radius: 50%;
        }

        &--completed {
          background-color: $background-positive;
        }
      }

      &__subtitle {
        padding: 5px 0 15px;
        font-size: 0.6em;
        width: 100px;
        color: black;

        &--active {
          color: $background-positive;
        }

        &--completed {
          color: $background-positive;
        }
      }

      &--active {
        color: white;
      }

      &--completed {
        color: $background-white;
      }
    }
  }
}
