/* ==========================================================================
   # SearchBar Component
   ========================================================================== */

.c-searchbar {
  background: #E4E3E2;
  height: 72px;

  @include breakpoint (desktop) {
    background: none;
  }

  &__input {
    background-color: white;
    border-color: $border-default;
    border-radius: 0;
    border-style: solid;
    border-right: none;
    border-width: .07143rem;
    color: #676567;
    font-size: 1em;
    font-weight: 500;
    height: 50px;
    line-height: 38px;
    margin: auto;
    padding: 0 10px;
    width: 87%;
    -webkit-font-smoothing: antialiased;
    -webkit-appearance: none;

    @include breakpoint (desktop) {
      width: 60%;
    }

    &-icon {
      display: inline-block;
      background-color: white;
      border-radius: 0;
      border-width: .07143rem;
      border-style: solid;
      border-color: $border-default;
      border-left: none;
      width: 12%;
      position: absolute;
    }

    &-button {
      border: none;
      height: 48px;
      width: 100%;
      padding: auto;
      background: url('/static/magnifying-glass.svg') no-repeat center center;
      font-size: 0;
      margin: 0;

      @include breakpoint(desktop) {
        background: linear-gradient(to bottom, #56155d, #431048);
        font-size: 1rem;
        text-transform: uppercase;
      }
    }
  }

  &__content {
    width: 90%;
    height: 50px;
    margin: auto;
    padding-top: 11px;

    @include breakpoint(desktop) {
      padding: 0;
    }
  }
}
