.c-step-indicators {
  width: 100%;
  margin: 20px auto;
  vertical-align: top;

  @include breakpoint(desktop) {
    width: 80%;
  }

  &__logo {
    width: 100%;
    display: inline-block;
    position: relative;
    left: 40%;

    @include breakpoint(desktop) {
      width: 20%;
      left: 0;
    }
  }

  &__steps {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 5px;
    vertical-align: top;

    @include breakpoint(desktop) {
      width: 80%;
      margin-top: 0;
    }

    .c-step-indicator {
      color: $text-default;

      a, a:link, a:hover, a:visited {
        color: inherit
      }

      &__position {
        display: block;
        margin: 10px auto;
        height: 60px;
        width: 60px;
        line-height: 60px;
        border: 1px solid ;
        border-radius: 50%;
        text-align: center;
        vertical-align: center;
      }

      &__subtitle {
        padding-top: 5px;
      }

      &--active {
        color: $text-dark;
      }

      &--completed {
        color: $text-primary;
      }
    }
  }
}
