.o-body {
  width: 100%;
  margin: 15px auto;
  padding-top: 190px;

  @include breakpoint(tablet) {
    margin: 0;
    padding-top: 204px;
  }

  @include breakpoint(desktop) {
    width: 80%;
    margin: auto;
    padding-top: 30px;
  }
}
