/* ==========================================================================
   # Button Object
   ========================================================================== */

.o-button {
  padding: 0.3rem 0.8rem;
  border: 1px solid #999;
  border-radius: 0.2rem;

  font-size: 0.75rem;

  $base-color: #f7f7f7;
  $text-color: #354052;

  border-color: #CED0DA;
  background: linear-gradient(to bottom, lighten($base-color, 5%), $base-color);
  color: $text-color;

  &:hover {
    border-color: darken(#CED0DA, 15%);
    background: linear-gradient(to bottom, lighten($base-color, 10%), $base-color);
  }

  &:focus {
    box-shadow: rgba(#ccc, 0.2) 0 0 0 2px;
  }

  $color-variations: (
    info:     (background-color: $background-info, color: #fff),
    positive: (background-color: $background-positive, color: #fff),
    negative: (background-color: $background-negative, color: #fff),
    warning:  (background-color: $background-warning, color: #fff)
  );

  @each $key in map-keys($color-variations) {
    &--#{$key} {
      $base-color: map-get(map-get($color-variations, $key), background-color);
      $text-color: map-get(map-get($color-variations, $key), color);

      border-color: darken($base-color, 10%);
      background: linear-gradient(to bottom, lighten($base-color, 5%), $base-color);
      color: $text-color;

      &:hover {
        border-color: darken($base-color, 15%);
        background: linear-gradient(to bottom, lighten($base-color, 10%), $base-color);
      }

      &:focus {
        box-shadow: rgba($base-color, 0.2) 0 0 0 2px;
      }
    }
  }


}
