.o-checkout-cart {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;

  &__wrapper {
    border: 1px solid #000;
    padding: 10px 30px;
  }

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__product {
    width: 100%;
    display: flex;
  }

  &__image {
    display: inline-block;
    padding-top: 15px;
  }

  &__info {
    list-style: none;
  }
}
