.o-checkout-cart-total {
  margin-top: 0.9em;

  &__wrapper {
    border: 1px solid #000;
    padding: 0.8em 1.9em;

    dt {
      float: left;
      clear: left;
    }

    dd {
      text-align: right;
      margin-left: 50%;
    }
  }

  &__total {
    border-top: 1px solid #000;
    padding-top: 1.3em;
  }
}
