.o-header {
  background: white;
  margin: 0 0 0 auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  @include breakpoint(desktop) {
    position: static;
    display: flex;
    flex-wrap: wrap;
  }

  &__logo {
    margin: 20px auto;
    text-align: center;
    vertical-align: top;
    width: auto;

    @include breakpoint(desktop) {
      order: 1;
      left: 0;
      margin: 0;
      width: 33.3%;
    }
  }

  &__step {
    display: inline-block;
    margin-top: 5px;
    text-align: center;
    vertical-align: top;
    width: 50%;

    @include breakpoint(desktop) {
      margin-top: 0;
      text-align: center;
      width: 20%;
    }
  }
}
