.o-header {
  width: 100%;
  margin: 20px auto;
  @include breakpoint(desktop) {
    width: 80%;
  }
}

.o-header__logo {
  width: 100%;
  display: inline-block;
  position: relative;
  left: 40%;

  @include breakpoint(desktop) {
    width: 33.3%;
    left: 0;
  }
}

.o-header__search {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-top: 5px;
  vertical-align: top;

  @include breakpoint(desktop) {
    width: 33.3%;
    margin-top: 0;
  }
}
.o-header__minibag {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-top: 5px;
  vertical-align: top;

  a {
    text-transform: uppercase;
    padding: 15px;
  }

  @include breakpoint(desktop) {
    width: 33.3%;
    text-align: right;
    margin-top: 0;
  }
}

.o-header__step {
  width: 50%;
  display: inline-block;
  text-align: center;
  margin-top: 5px;
  vertical-align: top;

  @include breakpoint(desktop) {
    width: 20%;
    text-align: center;
    margin-top: 0;
  }
}
