/* ==========================================================================
   # Nav Object
   ========================================================================== */
.o-nav {
  border: none;
  text-align: center;
  font-size: 0.9em;
  height: 50px;

  @include breakpoint(desktop) {
    order: 4;
    margin: auto;
  }
}
