.o-product_list {
  display: grid;
  width: 100% !important;

  .o-product_list__container {
  }

  .o-product_list__actions--filter {
    width: 100%;
    display: grid;

    @include breakpoint(desktop){
      display: inline-block;
      width: 30%;
      vertical-align: top;
    }
  }

  .o-product_list__products {

    @include breakpoint(desktop){
      display: inline-block;
      width: 70%;
    }

    .o-product_list__listing {
      display: grid;
      grid-template-columns: repeat(2, 2fr);
      grid-gap: 15px;
      grid-auto-rows: minmax(100px, auto);

      @include breakpoint(desktop){
        grid-template-columns: repeat(3, 2fr);
      }
    }
  }
}
