$o-body-container-width: 80%;

.o-body {
  width: 100%;
  padding-top: 176px; // height of the fixed header in mobile

  @include breakpoint(desktop) {
    width: $o-body-container-width;
    margin: auto;
    padding-top: 0;
  }
}
