$o-body-container-width: 80%;

.o-body {
  width: 100%;
  padding-top: $global-spacing-unit-huge * 2;

  @include breakpoint(desktop) {
    width: $o-body-container-width;
    margin: auto;
    padding-top: $global-spacing-unit-small;
  }
}
