/* ==========================================================================
   # Breadcrumb Object
   ========================================================================== */

.o-breadcrumb {
  display: none;
  align-self: center;
  padding: .75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  border-radius: .25rem;

  @include breakpoint(desktop) {
    display: flex;
    margin: 0;
    font-size: 0.8rem;
    height: auto;
  }
}

.o-breadcrumb__item {
  float: left;

  &:not(:first-child) {
    margin-left: 1em;

    &:before {
      position: relative;
      right: 0.5em;
      content: '>';
      font-size: 1rem;
    }
  }
}

.o-breadcrumb__link {
  text-decoration: none;

  &:hover {
    color: $text-default;

    & > span {
      text-decoration: none;
      color: $text-default;
    }
  }
}
