.o-body {
  width: 100%;
  padding-top: $global-header-height-mobile;
  min-height: calc(100vh - #{$global-footer-height});

  @include breakpoint (desktop) {
    width: $global-body-container-width;
    margin: auto;
    padding-top: 0;
    max-width: $global-body-max-width;
    min-height: calc(100vh - #{$global-footer-height + $global-header-height-desktop});
  }
}
