$input-checkbox-size: 16px;
$input-checkbox-spacing: 8px;

.o-form {
  width: 100%;

  &-errors {
    color: $text-error;
    text-align: center;
  }

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 0.7em;
    padding: $global-spacing-unit-small $global-spacing-unit-small 0 $global-spacing-unit-small;
    height: 48px;

    @include breakpoint(tablet) {
      width: 95%;
      padding-left: 0;
      padding-right: 0;
      margin: auto;
    }

    @include breakpoint(desktop) {
      padding-top: $global-spacing-unit-small;
      margin-bottom: $global-spacing-unit;
      margin-top: 0;
      margin-left: 0;
      font-size: 1em;
    }

    &-title {
      margin: $global-spacing-unit-small 0;

      @include breakpoint(desktop) {
        margin-top: 0;
      }

      h2 {
        margin: 0;
      }
    }

    &-edit {
      margin-top: $global-spacing-unit-small;

      @include breakpoint(desktop) {
        float: right;
        margin-top: 0;
      }
    }

    &-button {
      width: 60px;
      padding: $global-spacing-unit-tiny;
      border: none;
      font-size: 0.8em;
      margin-top: 0;
    }
  }

  &__background {
    background-color: $light-grey;

    @include breakpoint(desktop) {
      width: 100%;
    }
  }

  &__billing {
    margin-top: 0 !important;

    @include breakpoint(desktop) {
      width: 100%;
      margin-bottom: $global-spacing-unit-large;
    }
  }

  &__wrapper {
    padding: $global-spacing-unit-small;
    margin-bottom: $global-spacing-unit-small;
    width: 100%;

    &--collapsed {
      padding-bottom: $global-spacing-unit-small;
      font-size: 0.8rem;
      border-bottom: 1px solid $border-default;
      width: 95%;
      margin: auto;
      padding-right: 0;

      @include breakpoint(desktop) {
        margin: 0;
        width: 100%;
        padding-left: $global-spacing-unit-small;
      }

      p {
        margin: 0;
      }
    }

    p {
      font-size: 0.7em;
      color: $font-dark-grey;
    }
  }

  &__input-group {
    button {
      display: flex;
      justify-content: center;
      margin-bottom: $global-spacing-unit-small;

      @include breakpoint(desktop) {
        width: auto;
      }
    }

    ::placeholder {
      font-size: 0.7em;
    }

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-image: url('/static/arrow.png');
      background-repeat: no-repeat;
      background-position: right center;
      background-color: $background-white;
      font-size: 0.8em;
    }
  }

  &__label {
    font-size: 0.9em;
    margin-bottom: $global-spacing-unit-small;
  }

  &__checkbox {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
    margin-bottom: $global-spacing-unit-small;

    &:checked+.o-form__checkbox-caption:before {
      background-image: url('/static/tick.png');
      background-size: contain;
    }

    &-label {
      font-size: 0.7em;
      display: block;
      width: 100%;
      cursor: pointer;
    }

    &-caption {
      display: block;
      position: relative;
      margin-left: $input-checkbox-size + $input-checkbox-spacing;
      font-weight: 300;
    }

    &-caption::before {
      content: "";
      display: inline-block;
      position: relative;
      top: $input-checkbox-spacing / 2;
      margin-left: -$global-spacing-unit;
      margin-right: $input-checkbox-spacing;
      width: $input-checkbox-size;
      height: $input-checkbox-size;
      background: $background-white;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 50%;
      border: 1px solid black;
      border-radius: 2px;
    }
  }

  &__error {
    border: 1px solid $text-error;
  }

  &__input-field {
    margin: $global-spacing-unit-small 0;
    display: block;
    padding: $global-spacing-unit-tiny $global-spacing-unit-small;
    font-size: 1rem;
    line-height: 1.25;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid;
    border-color: $form-input-border;
    background-color: $background-white;

    &__error {
      color: $text-error;
      border-color: $border-error;
      margin-bottom: $global-spacing-unit-small;

      &::first-letter {
        text-transform: capitalize;
      }
    }
  }

  &__input-block {
    display: block;
    width: 100%;
    border-radius: 0.09rem;
    background-color: $background-white;
    height: 2.2rem;
  }

  &__input-inline {
    display: inline;
  }

  &__hidden {
    display: none;
  }
}
