.o-header {
  background: white;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 999;

  @include breakpoint(desktop) {
    display: flex;
    flex-wrap: wrap;
    position: static;
  }

  &__logo {
    margin: $global-spacing-unit-small auto 0 auto;
    text-align: center;
    vertical-align: top;
    width: auto;

    @include breakpoint(desktop) {
      order: 2;
      position: fixed;
      width: 20%;
      margin: $global-spacing-unit-small 0 0 $global-spacing-unit-large;
      z-index: 999;
    }
  }

  &__step {
    display: inline-block;
    margin-top: $global-spacing-unit-tiny;
    text-align: center;
    vertical-align: top;

    @include breakpoint(desktop) {
      margin-top: 0;
      text-align: center;
      width: 20%;
    }
  }
}

.o-header__myaccount {
  font-size: 12px;
}
