.o-header {
  position: fixed;
  top: 0;
  background-color: white;
  width: 100vw;
  z-index: 999;
  display: flex;

  @include breakpoint(desktop) {
    flex-wrap: wrap;
    position: static;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
  }

  &__top {
    width: 100%;
    @include breakpoint(desktop) {
      background: $background-light-grey;
      position: fixed;
      top: 0;
      z-index: 999;
    }
  }

  &__top-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    @include breakpoint(desktop) {
      flex-wrap: nowrap;
      width: $o-body-container-width;
      margin: auto;
      padding: 0 $global-spacing-unit;
    }
  }

  &__logo {
    margin: $global-spacing-unit-small auto;
    text-align: center;
    width: auto;
    flex-basis: 100%;
    max-height: 40px;
    transition: max-height 0.1s;

    @include breakpoint(desktop) {
      margin: 0;
      flex-basis: auto;
    }
  }

  &__step {
    display: inline-block;
    margin-top: $global-spacing-unit-tiny;
    text-align: center;
    vertical-align: top;

    @include breakpoint(desktop) {
      margin-top: 0;
      text-align: center;
      width: 20%;
    }
  }

  &--shrunk {
    @include breakpoint(mobile-tablet) {
      .o-header__logo {
        max-height: 0px;
        margin-bottom: 0;
        overflow: hidden;
      }
    }
  }
}

.o-header__myaccount {
  font-size: 12px;
}
