.o-payment-method {
  width: 100%;
  padding: 0 10%;
  margin-top: 0.65em;

  &__security-fields {
    padding-top: 0.65em;
  }

  &__text {
    padding: 0 0.65em;
  }

  &__label {
    padding-right: 0.65em;
  }

  &__label-cvv[for=cvv] {
    padding-left: 0.65em;
  }

  &__input {
    width: 25%;
    padding-right: 0.65em;
  }

  &__address-summary {
    padding-top: 10px;

    h4, p {
      margin: 0.325em;
    }
  }
}
