.o-payment-method {
  width: 100%;
  padding: 0 10%;
  margin-top: $global-spacing-unit-small;

  &__security-fields {
    padding-top: $global-spacing-unit-small;
  }

  &__text {
    padding: 0 $global-spacing-unit-small;
  }

  &__label {
    padding-right: $global-spacing-unit-small;
  }

  &__label-cvv[for=cvv] {
    padding-left: $global-spacing-unit-small;
  }

  &__input {
    width: 25%;
    padding-right: $global-spacing-unit-small;
  }

  &__address-summary {
    padding-top: $global-spacing-unit-small;

    h4, p {
      margin: $global-spacing-unit-tiny;
    }
  }
}
