.o-rating {
  display: flex;
  flex-direction: row;

  &--star {
    padding-right: $global-spacing-unit-tiny;

    &-fill {
      color: $background-primary;
    }

    &-empty {
      color: $background-dark;
    }
  }
}
