.o-variant-selector {
  position: relative;
  border-radius: 0;

  select {
    border: 1px solid $border-default;
    width: 100%;
    border-radius: 0;
    background: transparent;

    -webkit-appearance: none;
    font-size: 1em;
    padding: $global-spacing-unit-small;
    background-image: url('/static/collapse-arrow.png');
    background-repeat: no-repeat;
    background-position: 97% 50%;
  }
}

