/* ==========================================================================
   # Colour Settings
   ========================================================================== */

$text-default: #7F8FA4;
$text-dark: #000000;
$text-error: #ff0000;
$text-focus: #354052;
$text-form: #495057;
$text-gold: #e68a00;
$text-info: #4598B8;
$text-primary: #4285f4;
$text-success: #009900;
$text-light: #ffffff;

$background-dark: #737376;
$background-disabled: #666666;
$background-grey: #e3e3e1;
$background-info: #4598B8;
$background-light: #999999;
$background-light-grey: #EEEFF3;
$background-negative: #D55742;
$background-payment: #ddd;
$background-positive: #F06A52;
$background-primary: #000000;
$background-secondary: #cccccc;
$background-warning: #F7BF47;
$background-white: #ffffff;

$button-base-color: #737376;

$border-dark: #000000;
$border-default: #DADADA;
$border-divider: #CECECE;
$border-error: #ff0000;
$border-highlight: #1990EA;
$border-shadow: #DFE2E5;

$accent-global: #F06A52;

$alert-orange: #F06A52;
$checkout-grey: #e3e3e1;
$font-dark-grey: #666666;
$form-input-border: #999999;
$light-grey: #f1f1f0;
$medium-grey: #808080;
