.ais-ClearRefinements {
  padding: 0.1rem;

  &-button {
    right: 0px;
    padding: 0.5rem;
    background: $background-light-grey;
    margin: 1rem 0.2rem 0.2rem 0.2rem;
    border-radius: 5%;
    border: 1px solid $border-shadow;
    cursor: pointer;
    color: inherit;

    &--disabled {
      display: none;
    }
  }
}
