.c-address-form {

  &__header {

    @include breakpoint(tablet) {
      padding-left: 0;
    }

    @include breakpoint(desktop) {
      width: 100%;
    }

    &-title {
      margin: 0;
    }
  }

  &__summary {
    padding-left: 2px;

    @include breakpoint(tablet) {
      padding-left: 0;
    }
  }
}
