.c-register {
  width: 80%;
  margin: auto;
  padding-bottom: $global-spacing-unit;

  @include breakpoint(tablet) {
    width: 60%;
  }

  &__text {
    text-align: center;

    &-title {
      color: $background-primary;
      padding-top: $global-spacing-unit;
      font-weight: 500;
    }

    &-caption {
      color: $medium-grey;
      font-weight: 300;
    }
  }

  &__button {
    text-align: center;
    width: 100%;
  }

  &__anchor {
    display: block;
    text-align: center;
  }
}
