.c-address-form {

  &__header {
    padding-left: 9px;

    @include breakpoint(tablet) {
      padding-left: 0;
    }

    @include breakpoint(desktop) {
      width: 100%;
    }

    &-title {
      margin: 0;
    }
  }

  &__summary {
    padding-left: 0;
  }
}
