.c-password {
  width: 60%;
  margin: auto;
  padding-bottom: 2rem;

  &__title {
    text-align: center;
    color: $background-primary;
    padding-top: 2rem;
  }

  &__caption {
    text-align: center;
    color: grey;
    font-weight: 300;
  }

  &__input {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 0px;
    border-color: $border-default;
    background-color: $background-light;
    font-weight: 200;
  }

  &__button {
    &-icon {
      width: 100%;
    }
  }
}
