.c-carousel {
  width: 100%;
  height: auto;
  margin: auto;
  overflow: visible;

  @include breakpoint(desktop) {
    width: 400px;
  }

  &__content {
    height: 100%;
  }
}

.carousel .control-dots {
  position: relative;
  margin: auto;
  padding: 0;

  @include breakpoint(desktop) {
    display: none;
  }
}

.carousel .dot.dot {
  background-color: grey;
  box-shadow: none;
}

.carousel .dot.selected {
  background-color: $alert-orange;
  box-shadow: none;
}

.carousel .thumbs.animated {
  display: none;

  @include breakpoint(desktop) {
    display: block;
    margin-top: -25em;
    margin-left: -8em;
  }
}

.carousel .thumb {
  @include breakpoint(desktop) {
    display: block;
  }
}

.carousel .thumbs-wrapper {
  @include breakpoint(desktop) {
    margin: 0;
    overflow: visible
  }
}
