.c-cart-summary {
  overflow: hidden;
  width: 100%;
  text-align: right;
  background-color: $light-grey;
  padding: 10px;
  font-size: 0.9em;

  &__VAT {
    font-size: 0.6rem;
  }

  @include breakpoint(desktop) {
    margin-left: 50%;
  }

  dl {
    margin: 0;
    margin-top: 10px;
    font-size: 0.8rem;
  }

  dt {
    margin-left: 50%;
    display: inline-block;
  }

  dd {
    margin: 0;
    display: inline-block;
    padding: 0 0 0 .5em;
  }

  &__buttons {
    margin-top: 10px;

    &--continue {
      outline: none;
      border: 0;
      padding: 15px;
      padding-left: 20px;
      padding-right: 20px;
      background-color: $background-secondary;
      color: black;
    }

    &--proceed {
      outline: none;
      color: white;
      font-size: 0.9em;
      border: 0;
      padding-left: 25px;
      padding-right: 25px;
      background-color: $background-positive;
      float: right;
      min-width: 230px;
    }
  }
}
