.c-checkout {
  @include breakpoint(desktop) {
    width: 80%;
    margin: auto;
    max-width: $global-body-max-width;
  }

  &__addressform {
    @include breakpoint(desktop) {
      width: 90%;
    }
  }

  &__cart {
    margin: auto;
    padding-left: $global-spacing-unit-small;
    padding-right: $global-spacing-unit-small;

    @include breakpoint(tablet) {
      padding-left: $global-spacing-unit;
      padding-right: $global-spacing-unit;
    }

    @include breakpoint(desktop) {
      padding-left: $global-spacing-unit-small;
      padding-right: 0;
    }
  }

  &__steps {
    @include breakpoint(desktop) {
      margin: auto;
      border-bottom: 1px solid $border-default;
    }
  }

  &__address-book-button {
    margin: 0;
    margin-bottom: $global-spacing-unit-small;
    margin-right: $global-spacing-unit-small;
  }

  &__edit-form-button {
    margin: 0;
    margin-bottom: $global-spacing-unit-small;
    margin-right: $global-spacing-unit-small;
  }
}
