.c-checkout-cart {

  &__header {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid $border-default;
  }

  &__title {
    display: inline-block;
    font-size: 1em;
    margin-top: 0;
    padding-top: $global-spacing-unit-small;
    width: 70%;

    @include breakpoint(tablet) {
      font-size: 1.2em;
    }

    @include breakpoint(desktop) {
      padding-top: ($global-spacing-unit-tiny * 10);
      width: 100%;
    }
  }

  &__table {

    @include breakpoint(tablet) {
      width: 100%;
      font-size: 1.3em;
    }
  }

  &__total {
    display: inline-block;
    margin-top: $global-spacing-unit-small;
    float: right;
    font-weight: 300;

    @include breakpoint(tablet) {
      font-size: 1.2em;
    }

    @include breakpoint(desktop) {
      display: none;
    }
  }

  &__text {
    font-size: 0.7em;
    width: 70%;
    padding-bottom: $global-spacing-unit;

    @include breakpoint(desktop) {
      font-size: 0.7em;
      width: 100%;
    }
  }

  &__description {
    margin: 0;

    a {
      color: $background-positive;
    }
  }

  &__amount {
    color: $background-positive;

    &:hover {
      color: $background-positive;
    }
  }
}
