.c-component-header {
  text-transform: uppercase;
  border-bottom: $global-spacing-unit-tiny solid $accent-global;
  display: inline-block;
  padding: 0 $global-spacing-unit;
  padding-bottom: $global-spacing-unit-tiny;
}
