.c-cart-summary {
  overflow: hidden;
  width: 100%;
  text-align: right;
  background-color: $light-grey;
  padding: $global-spacing-unit-small;
  font-size: 0.9em;

  @include breakpoint(desktop) {
    padding: 1.5em;
  }

  &__VAT {
    font-size: 0.6rem;
  }

  dl {
    margin: 0;
    margin-top: $global-spacing-unit-small;
    font-size: 0.8rem;
  }

  p {
    @include breakpoint(desktop) {
      font-size: 1.4em;
    }
  }

  dt {
    margin-left: 30%;
    display: inline-block;
  }

  dd {
    margin: 0;
    display: inline-block;
    padding: 0 0 0 .5em;
  }

  &__promotion {
    color: $text-error;
  }

  &__mini-button-container {
    display: flex;
    align-items: center;
    margin-top: $global-spacing-unit-huge;
    margin-bottom: -$global-spacing-unit-huge;
    background-color: $light-grey;
    border: 1px solid $border-default;
    justify-content: center;

    &-item {
      width: 50%;
      padding: $global-spacing-unit-tiny;
    }

    @include breakpoint(desktop) {
      margin-top: $global-spacing-unit-small;
      margin-bottom: 0;

      &-item {
        font-size: 1.3rem;
        width: 25%;
      }
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    margin: $global-spacing-unit-small 0;

    @include breakpoint(desktop) {
      flex-direction: row;
      padding-bottom: $global-spacing-unit-small;
      margin-top: $global-spacing-unit-small;
      justify-content:space-between;
    }

    &--proceed {
      margin: $global-spacing-unit-small 0;
      width: 100%;
      background: $background-positive;
      color: $text-light;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: .1rem;
      display: block;
      white-space: nowrap;

      @include breakpoint(desktop) {
        width: 49%;
      }

      &:visited {
        color: $text-light;
      }

      &:hover {
        @include breakpoint(desktop) {
          background: transparentize($background-positive, 0.2);
          cursor: pointer;
          color: $text-light;
        }
      }
    }

    &--continue {
      margin: $global-spacing-unit-small 0;
      width: 100%;
      background: $background-secondary;
      color: $text-dark;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: .1rem;
      display: block;
      white-space: nowrap;

      @include breakpoint(desktop) {
        width: 49%;
      }

      &:visited {
        color: $text-dark;
      }

      &:hover {
        @include breakpoint(desktop) {
          background: transparentize($background-secondary, 0.2);
          cursor: pointer;
        }
      }
    }
  }
}
