.c-checkout-cart-total {
  margin: 0 $global-spacing-unit-small;
  padding: 0 $global-spacing-unit-small;

  &__payment-error {
    color: red;
    padding: $global-spacing-unit-small;
    border: 1px solid red;
  }
}
