.c-footer {

  &-email {
    height: 104px;
    background-color: $background-positive;

    &-text {
      padding-top: 20px;

      p {
        margin: 0;
        color: white;
      }
    }
  }

  &__content {
    height: 175px;
    background-color: white;
  }

  &__links {
    display: inline-block;
    height: 100px;
    margin: 0 auto 35px auto;
    font-size: 0.8em;
    text-align: center;
    background-color: $light-grey;
    padding: 40px;
    width: 100% !important;

    a {
      padding: 5px 15px;
      border-left: 1px solid lightgrey;
    }

    &-first {
      display: inline-block;
      
      a {
        border: 0;
      }
    }
  }

  &__social {
    height: 80px;
    margin: auto;
    text-align: center;

    &-text {
      font-size: 0.9em;
    }

    &-links {
      display: flex;
      margin: auto;
      width: 120px;
    }

    &-facebook {
      background: url('/static/facebook.svg') no-repeat center;
      width: 50px;
      height: 50px;
    }

    &-instagram {
      background: url('/static/instagram.svg') no-repeat center;
      width: 50px;
      height: 50px;
    }

    &-twitter {
      background: url('/static/twitter.svg') no-repeat center;
      width: 50px;
      height: 50px;
    }
  }
}
