.c-header {
  &__account {
    height: 2.5rem;
    width: 33.3%;
    background: white;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: ($global-spacing-unit-tiny * 6.5);

    @include breakpoint(desktop) {
      order: 4;
      margin: ($global-spacing-unit-tiny * 14) 0 0 auto;
      width: 6rem;
      top: 0;
    }

    &-button {
      background: url('/static/account-icon.svg') no-repeat center;
      width: 3rem;
      height: 2.4rem;
      margin: auto 50% auto auto;
      cursor: pointer;

      @include breakpoint(desktop) {
        background-size: 1.4rem;
      }
    }

    &-label {
      font-size: 0.8rem;
      padding-top: ($global-spacing-unit-tiny * 3);
      padding-left: ($global-spacing-unit-tiny * 7);
      width: 6rem;

      @include breakpoint(desktop) {
        font-size: 0.75rem
      }

      a {

        @include breakpoint(desktop) {
          padding-right: $global-spacing-unit-small;
          border-right: 1px solid $border-default;
          color: black;
          text-decoration: none;
        }
      }
    }
  }

  &__minibag {
    float: right;
    height: 2rem;
    width: 33.3%;
    border-left: 1px solid $border-default;

    @include breakpoint(desktop) {
      order: 5;
      height: 2.5rem;
      margin: ($global-spacing-unit-tiny * 14) auto 0 0;
      border: none;
      align-items: baseline;
      float: none;
      width: 6rem;
    }
  }

  &__search {
    display: block;
    margin: auto;
    width: 100%;

    @include breakpoint(desktop) {
      order: 1;
      position: fixed;
      z-index: 99;
    }
  }
}
