.c-header {
  &__account {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    cursor: pointer;
    text-align: center;
    border-left: 1px solid $border-default;

    @include breakpoint(mobile-tablet) {
      flex-basis: 30%;
    }

    @include breakpoint(desktop) {
      order: 3;
      position: static;
      border: none;
      padding-left: $global-spacing-unit;
      padding-right: $global-spacing-unit;
    }

    a {
      font-size: 0.8em;
      padding-left: $global-spacing-unit-small;

      @include breakpoint(desktop) {
        font-size: 1em;
      }
    }

    &-image {
      height: 25px;
      width: 25px;
    }
  }

  &__minibag {
    flex-grow: 1;
    border-left: 1px solid $border-default;

    @include breakpoint(mobile-tablet) {
      flex-basis: 30%;
    }

    @include breakpoint(desktop) {
      padding-left: $global-spacing-unit;
      padding-right: $global-spacing-unit;
      order: 5;
    }
  }

  &__search {
    display: block;
    margin: auto;
    width: 100%;
    background: $background-light-grey;

    @include breakpoint(desktop) {
      order: 2;
    }
  }
}
