.c-line-items {
  width: 100%;
  padding: $global-spacing-unit-small 0;

  &__grid {
    display: grid;
    grid-template-columns: [first] 40% [col2-start] 25% [col3-start] 25% [col4-start] 5% [end];
    grid-template-rows: [row1-start] 30% [row2-start] 30% [row3-start] 30% [row4-start] 5% [row5-start] 5% [row5-end];
    font-size: 0.9rem;
    margin-bottom: $global-spacing-unit-large;

    @include breakpoint(desktop) {
      grid-template-columns: [first] 35% [col2-start] 15% [col3-start] 35% [col4-start] 15% [end];
      padding-bottom: $global-spacing-unit;
      border-bottom: 1px solid $border-default;
    }

    &-item1 {
      grid-column-start: first;
      grid-column-end: col2-start;
      grid-row-start: row1-start;
      grid-row-end: row5-end;
    }

    &-item2 {
      grid-column-start: col2-start;
      grid-column-end: col4-start;
      grid-row-start: row1-start;
      grid-row-end: row2-start;
    }

    &-item3 {
      grid-column-start: col4-start;
      grid-column-end: end;
      grid-row-start: row1-start;
      grid-row-end: row2-start;
    }

    &-item4 {
      grid-column-start: col2-start;
      grid-column-end: col3-start;
      grid-row-start: row2-start;
      grid-row-end: row3-start
    }

    &-item5 {
      grid-column-start: col3-start;
      grid-column-end: col4-start;
      grid-row-start: row2-start;
      grid-row-end: row3-start
    }

    &-item6 {
      grid-column-start: col2-start;
      grid-column-end: col3-start;
      grid-row-start: row3-start;
      grid-row-end: row4-start;
    }

    &-item7 {
      grid-column-start: col3-start;
      grid-column-end: col4-start;
      grid-row-start: row3-start;
      grid-row-end: row4-start;
    }

    &-item8 {
      grid-column-start: col2-start;
      grid-column-end: col3-start;
      grid-row-start: row4-start;
      grid-row-end: row5-start;
    }

    &-item9 {
      grid-column-start: col3-start;
      grid-column-end: col4-start;
      grid-row-start: row4-start;
      grid-row-end: row5-start;
    }

    &-item10 {
      grid-column-start: col4-start;
      grid-column-end: end;
      grid-row-start: row5-start;
      grid-row-end: row5-end;
    }
  }

  &__image {
    width: 100%;
    padding-right: $global-spacing-unit-small;
    height: 100%;
    display: inline-block;
  }

  &__delete {
    @include breakpoint(desktop) {
      text-align: right;
    }

    &-button {
      color: $form-input-border;
      font-size: 0.8em;
      text-decoration: underline;
    }
  }

  &__details {

    &-title {
      font-size: 0.8em;

      @include breakpoint(desktop) {
        font-size: 1em;
      }
    }

    &-sku {
      color: $background-secondary;
      font-size: 0.8em;

      @include breakpoint(desktop) {
        display: none;
      }
    }
  }

  &__param {
    font-size: 0.8em;

    @include breakpoint(desktop) {
      font-size: 1em;
    }
  }

  &__total {
    display: block;

    @include breakpoint(desktop) {
      font-weight: 500;
      text-align: right;
    }
  }
}
