.c-links {
  padding-top: 20px;

  &__grid {
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 15px;
    grid-template-columns: repeat(1, 1fr);
    position: relative;

    @media (min-width: 420px) {
      grid-template-columns: repeat(3, 1fr);
    }

    &-button {
      text-align: center;

      &-icon {
        text-transform: uppercase;
      }
    }
  }

  &__text {
    text-align: center;

    &-title {
      text-transform: uppercase;
    }
  }
}
