.c-minibag {
  &__cart {
    background: url('/static/bag-icon.svg') no-repeat center;
    cursor: pointer;
    height: 2.5rem;
    width: 3rem;
    margin: auto 50% auto auto;

    @include breakpoint(desktop) {
      margin-right: 40%;
      order: 1;
      position: relative;
      width: auto;
      margin-left: $global-spacing-unit-small;
      background-position: 60% 50%;
      background-size: 30%;
      height: 3.2rem;
    }

    &-count {
      display: block;
      background-color: $background-positive;
      border-radius: 50%;
      color: white;
      font-size: 0.6em;
      margin-left: $global-spacing-unit-tiny;
      padding-top: ($global-spacing-unit-tiny / 1.5);
      text-align: center;
      width: 18px;
      height: 18px;

      @include breakpoint(desktop) {
        margin-left: $global-spacing-unit-small;
        position: relative;
        top: 10px;
      }
    }

    &-label {
      padding-left: ($global-spacing-unit-tiny * 7);

      @include breakpoint(desktop) {
        padding-bottom: $global-spacing-unit-tiny;
        padding-left: $global-spacing-unit-large;
      }

      a {
        color: black;
        display: block;
        font-size: 0.8rem;

        @include breakpoint(desktop) {
          font-size: 1rem;
        }
      }
    }
  }

  &__checkout {
    display: none;
  }
}
