.c-minibag {
  &__cart {
    flex-basis: 30%;
    flex-grow: 1;
    cursor: pointer;
    text-align: center;

    @include breakpoint(desktop) {
      margin-left: $global-spacing-unit-small;
    }

    a {
      text-decoration: none;
      font-size: 0.8em;
      display: inline-block;
      padding-left: $global-spacing-unit-small;
    }

    &-image {
      display: inline-block;

      &-icon {
        display: inline-block;
        z-index: 0;
        position: relative;

        img {
          height: 24px;
          width: 25px;
        }
      }

      &-count {
        display: inline-block;
        background-color: $background-positive;
        border-radius: 50%;
        color: white;
        font-size: 0.5em;
        padding-top: ($global-spacing-unit-tiny / 1.5);
        text-align: center;
        width: 16px;
        height: 16px;
        margin-right: -$global-spacing-unit-small;
        z-index: 1;
        position: relative;
        vertical-align: top;
      }
    }
  }

  &__checkout {
    display: none;
  }
}
