.c-nav {
  border: none;
  text-align: center;
  height: 3.67em;

  @include breakpoint(desktop) {
    height: 2.5em;
    width: auto;
  }

  &__checkbox {
    visibility: hidden;
  }

  &__menu {
    height: 100%;
    overflow-y: scroll;
    border-right: 1px solid $border-default;
    background-color: white;
    overflow: auto;
    position: fixed;
    right: 100%;
    transition: right 0.25s;
    z-index: 999;
    top: 0;
    bottom: 0;
    width: 100%;
    -webkit-overflow-scrolling: touch;

    @include breakpoint(desktop) {
      height: auto;
      overflow-y: visible;
      overflow: hidden;
      transition: none;
      border-right: none;
      position: static;
    }

    &-button {
      display: block;
      height: 2rem;
      width: 33.3%;
      float: left;
      border-right: 1px solid $border-default;

      @include breakpoint(desktop) {
        display: none;
      }

      &-icon {
        cursor: pointer;
        background: url('/static/burger-menu-icon.svg') no-repeat center;
        display: inline-block;
        height: 2.45rem;
        width: 3rem;
        margin-right: ($global-spacing-unit-tiny * 5);

        p {
          padding-top: $global-spacing-unit-tiny;
          padding-left: ($global-spacing-unit-tiny * 7);
        }

        @include breakpoint(desktop) {
          display: none;
        }
      }
    }

    &-list {
      font-size: 1.25em;

      @include breakpoint(desktop) {
        font-size: 0.735em;
      }
    }

    &-header {
      &-logo {
        margin: $global-spacing-unit-small;
        padding-left: $global-spacing-unit-small;

        @include breakpoint(desktop) {
          display: none;
        }
      }

      &-cross {
        background: url('/static/cross.svg') no-repeat center;
        height: 5.5em;
        width: 5.5em;
        float: right;
        background-color: black;
        margin-top: -$global-spacing-unit-small;

        @include breakpoint(desktop) {
          display: none;
        }
      }

      &-search {
        text-align: left;

        @include breakpoint(desktop) {
          display: none;
        }
      }
    }

    &-footer {
      &-email {
        background-color: $background-positive;
        padding-bottom: $global-spacing-unit-tiny;

        @include breakpoint(desktop) {
          display: none;
        }

        &-text {
          padding-top: $global-spacing-unit-small;

          @include breakpoint(desktop) {
            display: none;
          }

          p {
            margin: 0;
            color: white;
          }
        }

        &-input {
          height: 2.97em;
          width: 90%;
          margin: $global-spacing-unit-small auto;
          background-color: white;
          color: grey;
          text-align: left;

          @include breakpoint(desktop) {
            display: none;
          }

          p {
            display: inline-block;
            padding-left: $global-spacing-unit-tiny;
          }
        }

        &-button {
          font-size: 0.7em;
          height: 4.3em;
          width: 10em;
          background: black;
          float: right;
          margin: 0;
          text-transform: uppercase;
        }
      }

      &-content {
        background-color: white;

        @include breakpoint(desktop) {
          display: none;
        }
      }

      .c-nav__menu-footer-link-first {
        border: 0;
      }

      &-links {
        margin: $global-spacing-unit-large auto;
        font-size: 1.2em;

        @include breakpoint(desktop) {
          display: none;
        }

        a {
          padding: $global-spacing-unit-tiny $global-spacing-unit-small;
          border-left: 1px solid $border-default;
        }
      }

      &-social {
        margin-bottom: $global-spacing-unit-large;

        &-links {
          display: flex;
          margin: $global-spacing-unit-small auto;
          width: 8rem;
          height: 2rem;
        }

        &-link {
          width: 33.3%;

          &--facebook {
            background: url('/static/facebook.svg') no-repeat center;
          }

          &--instagram {
            background: url('/static/instagram.svg') no-repeat center;
          }

          &--twitter {
            background: url('/static/twitter.svg') no-repeat center;
          }
        }
      }
    }
  }

  &__checkbox:checked~.c-nav__menu {
    right: 0;
  }

  &__option {
    background-color: $background-light-grey;
    padding-left: $global-spacing-unit;
    padding-top: $global-spacing-unit;
    text-align: left;
    width: 100%;
    display: block;
    font-weight: 700;
    border-top: 1px solid $border-default;
    height: 6em;

    @include breakpoint(desktop) {
      width: auto;
      display: inline-block;
      padding: 0 $global-spacing-unit-small;
      border-top: none;
      font-weight: normal;
      background-color: white;
      border-left: 1px solid $border-default;
      height: 1rem;
    }

    &:hover {

      @include breakpoint(desktop) {
        border-bottom: 3px solid $alert-orange;
      }
    }

    &--first {

      @include breakpoint(desktop) {
        border-left: none;
      }
    }

    &-text {
      font-size: 0.6em;
      font-weight: 500;
      margin-top: $global-spacing-unit-small;

      @include breakpoint(desktop) {
        display: none;
      }
    }
  }

  &__error {
    text-align: center;
  }
}
