.c-order {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-bottom: $global-spacing-unit;

  p, h1, h2, h3, h4 {
    margin: 0;
  }

  h2, h3 {
    font-size: 0.9em;
  }

  p {
    line-height: 1.8em;
    font-size: 0.8em;
  }

  @include breakpoint(desktop) {
    h2, h3 {
      font-size: 1.2em;
    }

    p {
      font-size: 1em;
    }
  }

  > * {
    flex: 1 100%;
  }

  &__header {
    display: flex;
    padding: 0 $global-spacing-unit $global-spacing-unit-small;

    @include breakpoint(desktop) {
      padding: $global-spacing-unit-small;
    }

    &-tick {
      align-self: center;
      position: absolute;
      height: 45px;
      width: 45px;
      border-radius: 50%;
      background-color: $alert-orange;
      color: white;
      text-align: center;
      font-size: 1.6em;
      padding: 8px;
    }

    &-text {
      display: inline-block;
      padding: $global-spacing-unit-tiny;
      margin-left: $global-spacing-unit-large;

      &-id {
        font-size: 1.2em;
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;

    @include breakpoint(desktop) {
      flex-direction: row;
    }

    &-panel {
      &-left {
        padding: 0;

        @include breakpoint(desktop) {
          flex: 2;
          padding: $global-spacing-unit-small;
          padding-right: $global-spacing-unit-large;
        }
      }

      &-right {
        padding: 0;

        @include breakpoint(desktop) {
          flex: 1;
          padding: $global-spacing-unit-small;
          padding-right: $global-spacing-unit-large;
        }
      }
    }
  }

  &__detail {
    display: flex;
    flex-direction: column;

    @include breakpoint(desktop) {
      h2 {
        margin: $global-spacing-unit-small 0;
      }
    }

    &-map {
      display: flex;
      align-items: center;
      margin-bottom: $global-spacing-unit-small;

      &-image {
        overflow: hidden;

        @include breakpoint(desktop) {
          height: 350px;
        }
      }
    }

    &-confirmation-message,
    &-shipping-address,
    &-shipping-method,
    &-payment-method {
      margin: $global-spacing-unit-small $global-spacing-unit;
      padding-bottom: $global-spacing-unit;

      h2 {
        margin-bottom: $global-spacing-unit-small;
      }

      @include breakpoint(desktop) {
        margin: $global-spacing-unit-small 0;
      }
    }

    &-confirmation-message {
      padding-bottom: 0;
    }

    &-shipping-address,
    &-shipping-method,
    &-payment-method {
      border-bottom: 1px solid $border-default;
    }

    &-payment-method {
      &-card {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: $global-spacing-unit 0;

        &-image {
          flex-basis: 20%;

          @include breakpoint(desktop) {
            flex-basis: 10%;
          }

          img {
            height: 20px;
            margin-right: $global-spacing-unit-small;
          }
        }

        &-details {
          flex-basis: 80%;
          font-size: 0.8em;

          @include breakpoint(desktop) {
            flex-basis: 90%;
            font-size: 1em;
          }

          span {
            margin-left: $global-spacing-unit-small;
          }
        }
      }
    }
  }

  &__summary {
    display: flex;
    flex-direction: column;

    &-header {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      border-bottom: 1px solid $border-default;
      padding-bottom: $global-spacing-unit;
      margin: $global-spacing-unit-small $global-spacing-unit;

      @include breakpoint(desktop) {
        padding-bottom: $global-spacing-unit-small;
        margin-bottom: $global-spacing-unit-small;
      }

      &-title,
      &-total {
        flex: 1;
      }

      &-total {
        text-align: right;

        h2 {
          font-weight: 400;
          font-size: 0.9em;
        }

        @include breakpoint(desktop) {
          h2 {
            font-size: 1.2em;
          }
        }
      }
    }

    &-line-item {
      display: flex;
      margin: $global-spacing-unit-small $global-spacing-unit;
      padding-bottom: $global-spacing-unit-small;
      border-bottom: 1px solid $light-grey;

      @include breakpoint(desktop) {
        margin: $global-spacing-unit-small 0;
      }

      &-image {
        display: flex;
        align-items: center;
        flex: 1;

        img {
          max-width: 100%;
          padding: $global-spacing-unit-small;
        }
      }

      &-details {
        flex: 2;
        flex-direction: column;

        &-title {
          font-size: 0.8em;

          @include breakpoint(desktop) {
            font-size: 1.2em;
          }
        }

        &-sku {
          color: $background-secondary;
        }

        &-param {
          display: flex;
          flex-direction: row;

          &-key {
            flex: 1;
            font-weight: bold;
          }

          &-value {
            flex: 2
          }
        }
      }
    }

    &-totals {
      text-align: right;
      background-color: $light-grey;
      margin: $global-spacing-unit-small $global-spacing-unit;
      padding: $global-spacing-unit-small;

      @include breakpoint(desktop) {
        margin: $global-spacing-unit-small 0;
      }

      dl, dt, dd {
        margin: 0;
      }

      dl {
        padding: $global-spacing-unit-tiny;
        font-size: 0.8em;

        @include breakpoint(desktop) {
          font-size: 1em;
        }
      }

      dt {
        display: inline-block;
        margin-left: 30%;
      }

      dd {
        display: inline-block;
        padding-left: $global-spacing-unit-tiny;
      }
    }
  }

  &__button {
    margin: $global-spacing-unit-tiny $global-spacing-unit;

    @include breakpoint(desktop) {
      display: flex;
      justify-content: flex-end;
      margin: $global-spacing-unit-tiny 0;
    }

    &--continue {
      display: flex;
      justify-content: center;
      width: 100%;
      font-size: 0.8em;
      padding-top: $global-spacing-unit;
      padding-bottom: $global-spacing-unit;
      margin: 0;

      @include breakpoint(desktop) {
        font-size: 1em;
        padding: $global-spacing-unit-small $global-spacing-unit-large;
        margin: $global-spacing-unit-tiny 0;
      }
    }
  }
}
