.c-order {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-bottom: $global-spacing-unit;

  p, h1, h2, h3, h4 {
    margin: 0;
  }

  p {
    line-height: 1.8em;
  }

  > * {
    flex: 1 100%;
  }

  &__header {
    display: flex;
    padding: $global-spacing-unit-small;

    &-tick {
      align-self: center;
      position: absolute;
      height: 45px;
      width: 45px;
      border-radius: 50%;
      background-color: $alert-orange;
      color: white;
      text-align: center;
      font-size: 1.6em;
      padding: 8px;
    }

    &-text {
      display: inline-block;
      padding: $global-spacing-unit-tiny;
      margin-left: $global-spacing-unit-large;

      &-id {
        font-size: 1.2em;
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: row;

    &-panel {
      &-left {
        flex: 2;
        padding: $global-spacing-unit-small $global-spacing-unit-large $global-spacing-unit-small $global-spacing-unit-small;
      }

      &-right {
        flex: 1;
        padding: $global-spacing-unit-small $global-spacing-unit-small $global-spacing-unit-small $global-spacing-unit-large;
      }
    }
  }

  &__detail {
    display: flex;
    flex-direction: column;

    h2 {
      margin: $global-spacing-unit-small 0;
    }

    &-map {
      display: flex;
      align-items: center;
      margin-bottom: $global-spacing-unit-small;

      &-image {
        overflow: hidden;

        @include breakpoint(desktop) {
          height: 350px;
        }
      }
    }

    &-confirmation-message {
      padding: $global-spacing-unit-small 0;
    }

    &-shipping-address {
      padding: $global-spacing-unit-small 0;
      border-bottom: 1px solid $border-default;
    }

    &-shipping-method {
      padding: $global-spacing-unit-small 0;
      border-bottom: 1px solid $border-default;
    }

    &-payment-method {
      padding: $global-spacing-unit-small 0;
      margin-bottom: $global-spacing-unit-small;
      border-bottom: 1px solid $border-default;

      &-card {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: $global-spacing-unit 0;

        &-image {
          flex-basis: 10%;

          img {
            height: 25px;
            margin-right: $global-spacing-unit-small;
          }
        }

        &-details {
          flex-basis: 90%;

          span {
            margin-left: $global-spacing-unit-small;
          }
        }
      }
    }
  }

  &__summary {
    display: flex;
    flex-direction: column;

    &-header {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      border-bottom: 1px solid $border-default;
      padding-bottom: $global-spacing-unit-small;
      margin-bottom: $global-spacing-unit-small;

      &-title,
      &-total {
        flex: 1;
      }

      &-total {
        text-align: right;
        font-weight: 400;
        font-size: 1.5em;
      }
    }

    &-line-item {
      display: flex;
      padding: $global-spacing-unit-small 0;
      border-bottom: 1px solid $light-grey;

      &-image {
        display: flex;
        align-items: center;
        flex: 1;

        img {
          max-width: 100%;
          padding: $global-spacing-unit-small;
        }
      }

      &-details {
        flex: 2;
        flex-direction: column;

        &-title {
          font-size: 1.2em;
        }

        &-sku {
          color: $background-secondary;
        }

        &-param {
          display: flex;
          flex-direction: row;

          &-key {
            flex: 1;
            font-weight: bold;
          }

          &-value {
            flex: 2
          }
        }
      }
    }

    &-totals {
      margin-top: $global-spacing-unit;
      text-align: right;
      background-color: $light-grey;
      padding: $global-spacing-unit-small;

      dl, dt, dd {
        margin: 0;
      }

      dl {
        padding: $global-spacing-unit-tiny;

        @include breakpoint(desktop) {
          font-size: 1em;
        }
      }

      dt {
        display: inline-block;
        margin-left: 30%;
      }

      dd {
        display: inline-block;
        padding-left: $global-spacing-unit-tiny;
      }
    }
  }

  &__button {
    &--continue {
      float: right;
    }
  }
}
