.c-payment-method {
  padding-top: $global-spacing-unit-small;

  label {
    font-size: 0.7rem;
    font-weight: bold;
  }

  &__button {
    display: inline-block;
    font-size: 0.7rem;
    text-transform: uppercase;
    height: 35px;
    width: 45%;
    margin: 2.5%;
    text-align: center;
    color: white;
    background-color: black;

    &--active {
      background-color: $background-positive;
    }

    &__wrapper {
      margin: 0;
    }

    span {
      line-height: 2.5rem;
    }
  }

  &__summary {
    font-size: 0.75rem;
    width: 95%;
    margin: auto;
    padding-bottom: $global-spacing-unit;
    border-bottom: 1px solid $border-default;

    p {
      margin: 0;
    }
  }

  &__address-summary {

    p {
      color: black;
    }
  }

  &__gift {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(50px, auto);

    @include breakpoint(desktop) {
      grid-template-columns: [col1-start] 67% [col2-start] 30% [col2-end];
      grid-gap: 3%;
    }

    &-title {
      margin: 0;
      font-weight: 500;
      font-size: 0.9em;
    }

    &-button {
      display: inline-block;
      height: 2rem;
      min-width: 6rem;
      width: 100%;
      margin-top: $global-spacing-unit;
      line-height: 2px;

      @include breakpoint(desktop) {
        height: 2.3rem;
        margin-top: $global-spacing-unit;
      }
    }

    &-input {
      margin-right: $global-spacing-unit-tiny;

      @include breakpoint(desktop) {
        width: 100%;
        height: 2.3rem;
        margin-top: $global-spacing-unit;
      }
    }
  }

  &__images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(10px, auto);
    margin: $global-spacing-unit-tiny;
    margin-top: 0;

    img {
      height: 25px;
      padding: $global-spacing-unit-tiny;
    }

    div {
      display: inline-block;
    }

    &-cardpayment {
      margin: auto;
    }

    &-paypal {
      margin: auto;
    }
  }

  &__header {
    padding-top: $global-spacing-unit-tiny;

    h2 {
      margin-bottom: 0;
    }
  }
}
