.c-product-listing {
  display: grid;
  grid-auto-rows: minmax(100px, auto) [last-line];
  grid-gap: 15px;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;

  @include breakpoint(mobile-tablet) {
    padding-left: $global-spacing-unit-tiny;
    padding-right: $global-spacing-unit-tiny;
  }

  @include breakpoint(tablet) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include breakpoint(desktop) {
    grid-template-columns: repeat(4, 1fr);
  }

  &-wrapper {
    @include tools-clearfix();
  }

  &--hide {
    display: none;
  }

  &__menu {
    grid-column-start: 1;
    grid-column-end: 3;

    @include breakpoint(tablet) {
      grid-column-end: 4;
    }

    @include breakpoint(desktop) {
      grid-column-end: 5;
    }

    &-description {
      border-bottom: 1px solid $border-default;
      border-top: 1px solid $border-default;
      text-align: center;

      @include breakpoint(mobile-tablet) {
        margin-left: $global-spacing-unit-tiny;
        margin-right: $global-spacing-unit-tiny;
      }

      &-title {
        font-size: 1.8rem;

        @include breakpoint(desktop) {
          margin-top: $global-spacing-unit;
          font-size: 2.5rem;
        }

        h1 {

          @include breakpoint(desktop) {
            width: 50%;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }

      &-content {
        font-size: 0.8rem;
        margin-bottom: ($global-spacing-unit-tiny * 5);
        width: 60%;
        margin-left: auto;
        margin-right: auto;

        @include breakpoint(tablet) {
          width: 50%;
        }

        @include breakpoint(desktop) {
          width: 35%;
          margin-bottom: $global-spacing-unit-large;
          font-size: 1rem;
        }
      }
    }

    &-options {
      border-bottom: 1px solid $border-default;
      display: flex;
      height: 3em;

      @include breakpoint(desktop) {
        border-bottom: 0;
        height: auto;
        display: block;
      }

      &-filters {
        border-right: 1px solid $border-default;
        display: flex;
        width: 50%;

        @include breakpoint(desktop) {
          display: none;
        }

        &-title {
          font-size: 0.84rem;
          padding-left: $global-spacing-unit-tiny;
          padding-top: $global-spacing-unit-tiny;

          @media (max-width: 355px) {
            font-size: 0.75rem
          }
        }

        &-applied {
          background: black;
          border-radius: 16px;
          color: white;
          font-size: 0.7rem;
          margin: auto;
          padding: ($global-spacing-unit-tiny * 1.5) $global-spacing-unit-small;
          text-align: center;

          @media (max-width: 355px) {
            font-size: 0.6rem;
          }
        }

        &-button {
          background: url('/static/arrow-right.svg') no-repeat center;
          border: none;
          cursor: pointer;
          height: 100%;
          margin: 0;
          width: 2rem;

          @include breakpoint(desktop) {
            display: none;
          }
        }
      }

      &-sort-by {
        display: flex;
        width: 50%;

        @include breakpoint(desktop) {
          display: none;
        }

        &-title {
          font-size: 0.84rem;
          font-weight: normal;
          padding-left: $global-spacing-unit-tiny;
          padding-top: $global-spacing-unit-tiny;

          @media (max-width: 355px) {
            font-size: 0.75rem;
          }
        }

        &-button {
          background: url('/static/arrow-right.svg') no-repeat center;
          border: none;
          cursor: pointer;
          margin: 0 0 0 auto;
          height: 100%;
          width: 2rem;
        }
      }
    }

    &-dropdowns {
      display: none;

      @include breakpoint(desktop) {
        width: 100%;
        margin-top: ($global-spacing-unit-tiny * 13);
        display: block;
      }
    }

    &-dropdown {
      border-color: $border-default;
      margin: auto $global-spacing-unit-tiny;
      display: inline-block;

      &--category {
        margin-left: 0;
      }

      &--sortby {
        float: right;
        margin-right: 0;
      }

      &-select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-color: $border-default;
        background: url('/static/arrow-dropdown.svg') no-repeat center;
        background-position-x: 8.5rem;
        background-size: 1em;
        color: black;
        font-size: 0.7rem;
        width: 10rem;
        height: 2.5rem;
        text-transform: capitalize;
        border-radius: 0;
      }
    }

    &-items-displayed {
      color: $medium-grey;
      font-size: 0.7em;
      padding-top: $global-spacing-unit-tiny;


      @include breakpoint(desktop) {
        position: relative;
        bottom: 7rem;
        text-align: left;
        width: 100%;
        font-size: 0.8rem;
      }

      p {
        width: 50%;
      }

      h4 {
        display: none;

        @include breakpoint(desktop) {
          color: black;
          display: inline-block;
          float: right;
          width: 50%;
          text-align: right;
          position: relative;
          bottom: 2.8rem;
          margin-right: 0;
          font-size: 0.8rem;
        }

        span {
          color: $medium-grey;
        }
      }
    }
  }

  &__view-more {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    padding: $global-spacing-unit;

    @include breakpoint(tablet) {
      grid-column-start: 1;
      grid-column-end: 4;
    }

    @include breakpoint(desktop) {
      grid-column-start: 1;
      grid-column-end: 5;
    }

    &-button {
      background: black;
      color: white;
      font-size: 0.7rem;
      height: 2.5rem;
      text-transform: uppercase;
      width: 12rem;
    }
  }
}
