.c-product-display {

  &__body {
    display: flex;
    flex-direction: column;
    margin-bottom: $global-spacing-unit;

    @include breakpoint(desktop) {
      flex-direction: row;
      margin-top: $global-spacing-unit;
      font-size: 1.2em;
    }

    &-dropdowns {
      @include breakpoint(desktop) {
        order: 2;
        width: 100%;
        margin-bottom: $global-spacing-unit-huge * 2;
      }
    }
  }

  &__content {
    &-image {

      @include breakpoint(desktop) {
        order: 1;
        width: 60%;
      }
    }

    &-details {
      @include breakpoint(desktop) {
        order: 2;
        display: flex;
        flex-direction: column;
        width: 40%;
        margin-top: $global-spacing-unit-large;
        margin-left: $global-spacing-unit-tiny;
      }
    }
  }

  &__arrow {
    &:before {
      background-image: url('/static/collapse-arrow-up.png');
      background-repeat: no-repeat;
      content: '';
      float: right;
      height: 20px;
      width: 20px;
    }
  }

  &__carousel {
    img {
      width: 100%;
    }

    @include breakpoint(desktop) {
      margin: auto;
      max-width: 500px;
    }
  }

  &__description {
    width: 92.5%;
    border-top: 0.5px solid $border-default;
    margin: auto;
    padding: $global-spacing-unit-small 0;

    @include breakpoint(desktop) {
      width: 100%;
    }

    &-title {
      display: inline;
      font-size: 0.8em;
      padding-bottom: $global-spacing-unit;

      @include breakpoint(desktop) {
        font-size: 0.9em
      }
    }

    &-text {
      display: block;
      font-size: 0.7em;
      margin-top: $global-spacing-unit-small;

      @include breakpoint(tablet) {
        font-size: 0.8em;
        padding-top: $global-spacing-unit-small;
      }
    }

    input {
      visibility: hidden;

      &[type=checkbox]:checked ~.c-product-display__description-text {
        display: none;
      }

      &[type=checkbox]:checked ~.c-product-display__arrow:before {
        background-image: url('/static/collapse-arrow.png');
      }
    }

    label {
      content: '';
      cursor: pointer;
      display: block;
      height: 2.8em;
      margin-top: -$global-spacing-unit;
      position: absolute;
      width: 92.5%;

      @include breakpoint(desktop) {
        width: 40%;
      }
    }
  }

  &__buttons {
    background-color: white;
    padding: $global-spacing-unit-small;
    padding-top: 0;
    position: relative;
    order: 2;

    @include breakpoint(tablet) {
      margin: auto;
      padding: 0;
      padding-bottom: $global-spacing-unit-small;
      width: 92.5%;
    }

    @include breakpoint(desktop) {
      margin-bottom: $global-spacing-unit-small;
      padding: 0;
      margin-top: 0;
      width: 100%;
    }

    &-basket {
      margin: auto;
      width: 100%;
      font-size: 0.8em;
    }
  }

  &__info {
    margin-top: $global-spacing-unit;
    padding: $global-spacing-unit-small;
    padding-bottom: 0;
    width: 100%;
    order: 2;

    @include breakpoint(tablet) {
      margin: auto;
      padding: 0;
      padding-bottom: $global-spacing-unit-small;
      width: 92.5%;
    }

    @include breakpoint(desktop) {
      padding: 0;
      margin-top: 0;
      margin-bottom: 0;
      width: 100%;
    }

    &-title {
      font-size: 0.9em;
      font-weight: 700;
      padding-bottom: $global-spacing-unit-small;

      @include breakpoint(desktop) {
        font-size: 1em;
      }
    }

    &-sku {
      font-size: 0.8em;
      font-weight: 500;
      color: $text-default;
      padding-bottom: $global-spacing-unit-small;
    }

    &-rating {
      display: inline;
      padding-bottom: $global-spacing-unit-small;

      &--fill {
        color: $background-primary;
        font-size: 0.75em;
        padding-right: 3px;
      }

      &--empty {
        color: $background-dark;
        font-size: 0.75em;
        padding-right: 3px;
      }
    }

    &-reviews {
      cursor: pointer;
      display: inline;
      font-size: 0.6em;
      padding-left: $global-spacing-unit-tiny;
      text-decoration: underline;
    }

    &-colour {
      padding: 1.2em 0;

      &-title {
        display: inline;
        font-size: 0.75em;
        padding-right: 1em;
      }

      label {
        font-size: 0.6em;
        padding-left: 3.5em;
      }

      input[type=radio] {
        -webkit-appearance: none;
        height: 22px;
        margin-top: -1px;
        position: absolute;
        width: 22px;
      }

      input[type=radio]:checked {
        background-image: url('/static/check.png');
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    &-variant {
      font-size: 0.75em;
      width: 100%;
      padding-top: $global-spacing-unit-small;
      padding-bottom: $global-spacing-unit-small;

      p {
        font-size: 0.8em;
      }

      @include breakpoint(desktop) {
        select {
          font-size: 0.8em;
        }
      }

      &-chart {
        float: right;
        font-size: 0.6em;
        text-decoration: underline;
        margin-top: -3px;
      }
    }
  }

  &__care {
    width: 92.5%;
    border-top: 0.5px solid $border-default;
    margin: auto;
    padding-top: $global-spacing-unit;
    padding-bottom: $global-spacing-unit;

    @include breakpoint(desktop) {
      width: 100%;
    }

    &-title {
      display: inline;
      font-size: 0.75em;
      padding-bottom: 0.5em;

      @include breakpoint(desktop) {
        font-size: 0.9em
      }
    }

    &-text {
      display: block;
      font-size: 0.6em;

      @include breakpoint(tablet) {
        font-size: 0.8em;
      }
    }

    input {
      visibility: hidden;

      &[type=checkbox]:checked ~.c-product-display__care-text {
        display: none;
      }

      &[type=checkbox]:checked ~.c-product-display__arrow:before {
        background-image: url('/static/collapse-arrow.png');
      }
    }

    label {
      content: '';
      cursor: pointer;
      display: block;
      height: 2.8em;
      margin-top: -2em;
      position: absolute;
      width: 92.5%;
      z-index: 1;

      @include breakpoint(desktop) {
        width: 55%;
      }
    }
  }

  &__size {
    width: 92.5%;
    border-top: 0.5px solid $border-default;
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1em;

    @include breakpoint(desktop) {
      width: 100%;
    }

    &-title {
      display: inline;
      font-size: 0.75em;
      padding-bottom: 0.5em;

      @include breakpoint(desktop) {
        font-size: 0.9em
      }
    }

    &-text {
      display: none;
      font-size: 0.6em;

      @include breakpoint(tablet) {
        font-size: 0.8em;
        padding-top: 1em;
      }
    }

    input {
      visibility: hidden;

      &[type=checkbox]:checked ~.c-product-display__size-text {
        display: block;
      }

      &[type=checkbox]:checked ~.c-product-display__arrow:before {
        background-image: url('/static/collapse-arrow-up.png');
      }
    }

    label {
      content: '';
      cursor: pointer;
      display: block;
      height: 2.8em;
      margin-top: -2em;
      position: absolute;
      width: 92.5%;

      @include breakpoint(desktop) {
        width: 55%;
      }
    }
  }
}

