.c-product-nav {
  width: 95%;
  margin: $global-spacing-unit-tiny * 5 auto 0 $global-spacing-unit-small;
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  font-size: 0.85em;
  margin-bottom: $global-spacing-unit-small;
  padding-top: $global-spacing-unit-small;
  display: inline-flex;
  height: 2.5rem;

  @include breakpoint (tablet) {
    grid-column-end: 4;
  }

  @include breakpoint (desktop) {
    display: none;
  }

  &__links {
    height: 1em;
    width: 20%;
    border-right: 1px solid $border-default;
    text-align: center;

    a {
      padding: 0 10%;
    }

    &:last-child {
      border-right: 0;
    }

    &--selected {
      a {
        padding-bottom: $global-spacing-unit-tiny / 2;
        border-bottom: 3px solid $background-positive;
      }
    }
  }
}
