.c-product-listing {
  margin: auto;

  &-wrapper {
    @include tools-clearfix();
  }

  &--hide {
    display: none;
  }

  &__products {
    display: grid;
    grid-auto-rows: minmax(100px, auto) [last-line];
    grid-gap: 15px;
    grid-template-columns: repeat(2, 1fr);

    @include breakpoint(mobile-tablet) {
      padding-left: $global-spacing-unit-tiny;
      padding-right: $global-spacing-unit-tiny;
    }

    @include breakpoint(tablet) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include breakpoint(desktop) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__menu {
    &-description {
      border-bottom: 1px solid $border-default;
      border-top: 1px solid $border-default;
      text-align: center;

      &-title {
        font-size: 1.8rem;

        @include breakpoint(desktop) {
          margin-top: $global-spacing-unit;
          margin-bottom: $global-spacing-unit;
          font-size: 2.5rem;
        }
      }
    }

    &-options {
      border-bottom: 1px solid $border-default;
      display: flex;
      height: 3em;

      @include breakpoint(desktop) {
        border-bottom: 0;
        height: auto;
        display: block;
      }

      &-filters {
        border-right: 1px solid $border-default;
        display: flex;
        width: 50%;

        @include breakpoint(desktop) {
          display: none;
        }

        &-title {
          font-size: 0.84rem;
          padding-left: $global-spacing-unit-tiny;
          padding-top: $global-spacing-unit-tiny;

          @media (max-width: 355px) {
            font-size: 0.75rem
          }
        }

        &-applied {
          background: black;
          border-radius: 16px;
          color: white;
          font-size: 0.7rem;
          margin: auto;
          padding: ($global-spacing-unit-tiny * 1.5) $global-spacing-unit-small;
          text-align: center;

          @media (max-width: 355px) {
            font-size: 0.6rem;
          }
        }

        &-button {
          background: url('/static/arrow-right.svg') no-repeat center;
          border: none;
          cursor: pointer;
          height: 100%;
          margin: 0;
          width: 2rem;

          @include breakpoint(desktop) {
            display: none;
          }
        }
      }

      &-sort-by {
        display: flex;
        align-items: center;
        width: 50%;

        @include breakpoint(desktop) {
          width: auto;
          justify-content: flex-end;
        }

        &-title {
          font-size: 0.85rem;
          font-weight: normal;
          margin-left: $global-spacing-unit-tiny;
          flex-shrink: 0;

          @media (max-width: 355px) {
            font-size: 0.75rem;
          }

          @include breakpoint(desktop) {
            margin-right: $global-spacing-unit-small;
          }
        }

        &-button {
          background: url('/static/arrow-right.svg') no-repeat center;
          border: none;
          width: 30px;
          padding-left: 0;
          padding-right: 0;
          margin: 0;
          cursor: pointer;
        }
      }
    }

    &-dropdowns {
      display: none;

      @include breakpoint(desktop) {
        width: 100%;
        margin-top: ($global-spacing-unit-tiny * 13);
        display: block;
      }
    }

    &-dropdown {
      border-color: $border-default;
      margin: auto $global-spacing-unit-tiny;
      display: inline-block;

      &--category {
        margin-left: 0;
      }

      &--sortby {
        float: right;
        margin-right: 0;
      }

      &-select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-color: $border-default;
        background: url('/static/arrow-dropdown.svg') no-repeat center;
        background-position-x: 8.5rem;
        background-size: 1em;
        color: black;
        font-size: 0.7rem;
        width: 10rem;
        height: 2.5rem;
        text-transform: capitalize;
        border-radius: 0;
      }
    }

    &-items-displayed {
      color: $medium-grey;
      font-size: 0.7em;
      padding-top: $global-spacing-unit-tiny;


      @include breakpoint(desktop) {
        position: relative;
        bottom: 7rem;
        text-align: left;
        width: 100%;
        font-size: 0.8rem;
      }

      p {
        width: 50%;
      }

      h4 {
        display: none;

        @include breakpoint(desktop) {
          color: black;
          display: inline-block;
          float: right;
          width: 50%;
          text-align: right;
          position: relative;
          bottom: 2.8rem;
          margin-right: 0;
          font-size: 0.8rem;
        }

        span {
          color: $medium-grey;
        }
      }
    }
  }

  &__view-more {
    text-align: center;
    padding: $global-spacing-unit;

    &-button {
      background: black;
      color: white;
      font-size: 0.7rem;
      height: 2.5rem;
      text-transform: uppercase;
      width: 12rem;
    }

    &-message {
      font-size: 0.8em;
      color: $text-default;
      margin: 0;
    }
  }

  &__info {
    display: flex;
    flex-wrap: no-wrap;
    justify-content: flex-end;
    font-size: 0.8em;

    @include breakpoint(mobile-tablet) {
      margin-left: $global-spacing-unit-tiny;
      margin-right: $global-spacing-unit-tiny;
    }

    @include breakpoint(desktop) {
      justify-content: space-between;
    }

  }

  &__counts {
    color: $text-default;
  }

  &__grid-toggle {
    margin-left: $global-spacing-unit-tiny;

    &--disabled {
      color: $text-default;
    }
  }
}
