.c-payment-icons {
  margin: auto;
  text-align: center;
  &__image {
    width: 35px;
    display: inline-block;
    margin: $global-spacing-unit-tiny;

    @include breakpoint(desktop) {
      width: 65px;
      margin: $global-spacing-unit-small;
    }
  }
}
