.c-product-listing-filter {
  width: 100%;
  font-size: 0.85em;

  @include breakpoint(mobile-tablet) {
    position: fixed;
    background: white;
    top: 0;
    right: 0;
    bottom: 0;
    transition: right 0.25s;
    overflow-y: auto;
    z-index: $modal-z-index;
    padding: $global-spacing-unit-small;
  }

  @include breakpoint(desktop) {
    float: left;
    width: auto;
    padding-top: $global-spacing-unit-small;
    padding-bottom: $global-spacing-unit-small;
    margin-right: $global-spacing-unit;
  }

  &--hide {
    @include breakpoint(mobile-tablet) {
      right: 100%;
    }
  }

  &-close {
    float: right;
    height: 2rem;
    width: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }

    &:active, &:focus {
      border-style: none;
      outline: -webkit-focus-ring-color auto 0;
    }

    &:before, &:after {
      position: absolute;
      margin: auto;
      padding: auto;
      height: 2rem;
      margin-top: -1.25rem; /* Minus half the difference between the height and the h2 font size 2rem - 1.5rem and half the height of close 1rem */
      width: 2px;
      content: ' ';
      background-color: #333;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  &__header {
    &-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    @include breakpoint(desktop) {
      display: none;
    }
  }

  &__body-option {
    @include breakpoint(mobile-tablet) {
      border-top: 1px solid $border-default;
    }
  }
}
