.c-payment-method {
  padding-top: $global-spacing-unit-tiny;

  @include breakpoint(desktop) {
    padding-top: 0;
  }

  label {
    font-size: 0.7rem;
    font-weight: bold;
  }

  &__button {
    display: inline-block;
    font-size: 0.7rem;
    text-transform: uppercase;
    height: 35px;
    width: 90%;
    margin: 2.5%;
    text-align: center;
    color: $text-light;
    background-color: $background-primary;

    @include breakpoint(desktop) {
      margin-left: 0;
      width: 100%;
    }

    &--active {
      background-color: $background-positive;
    }

    &__wrapper {
      margin: 0;
    }

    &-group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 3%;
      margin: auto;
      text-align: center;
    }

    &-edit {
      padding: $global-spacing-unit-tiny $global-spacing-unit-small;
      font-size: 1em;
      margin: 0;
    }

    span {
      line-height: 2.5rem;
    }
  }

  &__summary {
    font-size: 0.75rem;
    width: 95%;
    margin: auto;
    padding-bottom: $global-spacing-unit-small;
    border-bottom: 1px solid $border-default;
    padding-left: 2px;

    @include breakpoint(desktop) {
      width: 90%;
      margin: 0;
    }

    p {
      margin: 0;
    }
  }

  &__address-summary {

    p {
      color: black;
    }
  }

  &__section {

    @include breakpoint(desktop) {
      width: 90%;
    }
  }

  &__gift {
    display: grid;
    grid-template-columns: [col1-start] 67% [col2-start] 30% [col2-end];
    grid-gap: 3%;

    &-title {
      font-weight: 500;
      font-size: 0.9em;
    }

    &-button {
      display: inline-block;
      height: 2rem;
      width: 100%;
      margin-top: $global-spacing-unit-tiny;
      line-height: 2px;
    }

    &-input {
      margin-right: $global-spacing-unit-tiny;
      width: 100%;
      height: 2rem;
      margin-top: $global-spacing-unit-tiny;
    }
  }

  &__images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    margin-top: 0;

    @include breakpoint(desktop) {
      display: none;
    }

    img {
      height: 25px;
      padding: $global-spacing-unit-tiny;

      @include breakpoint (desktop) {
        height: 42px;
      }
    }

    div {
      display: inline-block;
    }

    &-cardpayment {
      margin: auto;
    }

    &-paypal {
      margin: auto;
    }
  }

  &__header {
    @include breakpoint(tablet) {
      padding-left: 0;
      padding-right: 0;
      width: 95%;
      margin-left: auto;
      margin-right: auto;
    }

    @include breakpoint(desktop) {
      padding-top: $global-spacing-unit-small;
      width: 90%;
      margin-left: 0;
      margin-right: 0;
    }

    h2 {
      margin-top: 0;
    }
  }
}
