.c-related-products {
  text-align: center;
  width: 100%;

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 1em;
  }

  &__image {
    height: $global-spacing-unit-huge * 3;
    margin-bottom: 1em;
  }

  &__name {
    text-decoration: none;
    cursor: pointer;
    color: black;
  }

  &__title {
    font-size: 1em;
    margin: auto;
    margin-top: 1em;
    text-align: center;
    text-transform: uppercase;

    span {
      border-bottom: 0.25em solid $alert-orange;
    }
  }
}
