/* ==========================================================================
   # SearchBar Component
   ========================================================================== */

.c-searchbar {
  height: 4.5rem;

  &__input {
    background-color: white;
    border-color: $border-default;
    border-style: solid;
    border-right: none;
    border-width: .07143rem;
    border-radius: 6px 0 0 6px;
    color: $text-dark;
    font-size: 1em;
    font-weight: 500;
    height: 3.15rem;
    margin: auto;
    padding: 0 3%;
    width: 87%;
    -webkit-font-smoothing: antialiased;
    -webkit-appearance: none;

    @include breakpoint (desktop) {
      width: auto;
      margin: 0;
      flex-grow: 1;
      padding: 0 $global-spacing-unit-small;
    }

    &:focus {
      outline: none;
    }

    &-icon {
      display: inline-block;
      background-color: white;
      border: 1px solid $border-default;
      border-radius: 0 6px 6px 0;
      border-left: none;
      width: 12%;
      position: absolute;

      @include breakpoint (desktop) {
        position: static;
        width: auto;
      }
    }

    &-button {
      border: none;
      height: 3rem;
      width: 100%;
      background: url('/static/magnifying-glass.svg') no-repeat center;
      font-size: 0;
      margin: 0;

      &:hover {
        background: url('/static/magnifying-glass.svg') no-repeat center;
        border-radius: 6px 0 0 6px;
      }

      &:focus {
        background: url('/static/magnifying-glass.svg') no-repeat center;
      }

      @include breakpoint(desktop) {
        height: 2.8rem;
      }
    }
  }

  &__content {
    width: 90%;
    margin: auto;
    padding-top: $global-spacing-unit-small;

    @include breakpoint(desktop) {
      width: auto;
      margin-left: $global-spacing-unit;
      display: flex;
    }
  }
}
