$input-radio-size: 16px;
$input-radio-spacing: 8px;

.c-shipping-method {
  width: 100%;
  margin: auto;

  @include breakpoint(desktop) {
    margin: 0;
    width: 90%;
    padding-top: 0;
  }

  &__wrapper {
    padding: $global-spacing-unit-tiny;
  }

  &__header {
    margin: auto;
    width: 100%;

    @include breakpoint(tablet) {
      padding-left: 0;
      padding-right: 0;
      width: 95%;
      margin-left: auto;
      margin-right: auto;
    }

    @include breakpoint(desktop) {
      padding-top: $global-spacing-unit-small;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: $global-spacing-unit;
    }

    h2 {
      margin-top: 0;
    }
  }

  &__summary {
    font-size: 0.75rem;
    padding-left: 2px;

    @include breakpoint(tablet) {
      padding-left: 0;
    }

    p {
      margin: 0;
    }
  }

  &-button {
    background-color: $font-dark-grey;
  }

  &__radio {
    display: block;
    width: 100%;
    cursor: pointer;

    &-caption {
      margin-left: $global-spacing-unit-small;
      position: absolute;

      &:before {
        content: "";
        display: inline-block;
        position: relative;
        top: $input-radio-spacing / 2;
        margin-left: -($input-radio-size + $input-radio-spacing);
        width: $input-radio-size;
        height: $input-radio-size;
        border: 1px solid;
        background-size: 125%;
        background-position: 50%;
        border-radius: 100%;
      }
    }

    &-input {
      border: 0 !important;
      clip: rect(0 0 0 0) !important;
      height: 1px !important;
      margin: -1px !important;
      overflow: hidden !important;
      padding: 0 !important;
      position: absolute !important;
      width: 1px !important;
      white-space: nowrap !important;

      &:checked+.c-shipping-method__radio-caption:before {
        background-image: url('/static/radio.png');
      }
    }
  }

  &__list {
    font-size: 0.7rem;
    padding: 0;

    &-header {
      margin-top: $global-spacing-unit-small;
      padding-bottom: $global-spacing-unit-small;
      border-bottom: 1px solid $border-divider;
      font-size: 0.7rem;
    }

    &-item-count {
      float: right;
      margin-right: $global-spacing-unit-small;
    }

    &-input-group {
      padding: $global-spacing-unit-small;

      &:not(:last-child) {
        border-bottom: 1px solid $border-divider;
      }

      input {
        float: left;
        height: 30px;
        vertical-align: middle;
        margin-right: $global-spacing-unit-small;
      }
    }

    &-title {
      display: block;
      font-weight: bold;
      margin-left: $global-spacing-unit-small;
      font-size: 0.8rem;
    }

    &-cost {
      float: right;
      line-height: 40px;
      font-weight: bold;
      font-size: 0.7rem;
    }

    &-delivery-date-label {
      display: inline;
      font-weight: bold;
      margin-left: $global-spacing-unit-small;
      font-size: 0.6rem;
    }

    &-delivery-date {
      display: inline;
      font-size: 0.6rem;
    }
  }
}
