/* ==========================================================================
   # SearchBar Component
   ========================================================================== */

.c-searchbar {
  background: $background-light-grey;
  height: 4.5rem;

  &__input {
    background-color: white;
    border-color: $border-default;
    border-radius: 0;
    border-style: solid;
    border-right: none;
    border-width: .07143rem;
    color: $border-default;
    font-size: 1em;
    font-weight: 500;
    height: 3.1rem;
    margin: auto;
    padding: 0 3%;
    width: 87%;
    -webkit-font-smoothing: antialiased;
    -webkit-appearance: none;

    @include breakpoint (desktop) {
      width: 90%;
    }

    &-icon {
      display: inline-block;
      background-color: white;
      border: 1px solid $border-default;
      border-radius: 0;
      border-left: none;
      width: 12%;
      position: absolute;

      @include breakpoint (desktop) {
        width: 4%;
      }
    }

    &-button {
      border: none;
      height: 2.95rem;
      width: 100%;
      background: url('/static/magnifying-glass.svg') no-repeat center;
      font-size: 0;
      margin: 0;

      @include breakpoint(desktop) {
        height: 2.9rem;
      }
    }
  }

  &__content {
    width: 90%;
    margin: auto;
    padding-top: $global-spacing-unit-small;

    @include breakpoint(desktop) {
      width: 65%;
      margin-left: 26%;
    }
  }
}
