.c-shipping-method-list {
  &__header {
    margin-top: $global-spacing-unit-small;
    margin-bottom: $global-spacing-unit-small;
    padding-bottom: $global-spacing-unit-small;
    border-bottom: 1px solid $border-dark;
  }

  &__item-count {
    float: right;
  }

  &__input-group {
    padding: $global-spacing-unit-small;
    border: 1px solid;

    &:not(:last-child) {
      border-bottom: none;
    }

    input {
      float: left;
      height: 2.5em;
      vertical-align: middle;
      margin-right: $global-spacing-unit-small;
    }
  }

  &__title {
    display: block;
    font-weight: bold;
  }

  &__cost {
    float: right;
    line-height: 2.5rem;
    font-weight: bold;
  }

  &__delivery-date-label {
    display: inline;
    font-weight: bold;
  }

  &__delivery-date {
    display: inline;
  }
}
