.c-static-page-error {

  &__image {
    width: 20%;
  }

  &__details-toggle {
    cursor: pointer;
  }

  &__details {
    border: 1px solid black;
    padding: $global-spacing-unit;
    background-color: $background-light-grey;

    p:first-of-type {
      margin-top: 0;
    }

    p:last-of-type {
      margin-bottom: 0;
    }
  }

  &__detail-header {
    font-weight: bold;
    font-size: 1.4em;
  }

  &__detail {
    font-family: "Courier New", sans-serif;
  }
}
