.c-step-indicators {
  width: 100%;
  vertical-align: top;

  @include breakpoint(desktop) {
    width: 80%;
  }

  &__logo {
    width: 100%;
    display: block;
    margin-top: $global-spacing-unit;
    text-align: center;

    @include breakpoint(desktop) {
      width: 20%;
      left: 0;
    }
  }

  &__steps {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: $global-spacing-unit-small;
    border-bottom: 1px solid #eee;

    @include breakpoint(desktop) {
      width: 80%;
      margin-top: 0;
    }

    .c-step-indicator {
      color: $text-default;
      margin: 0 $global-spacing-unit-tiny;

      a, a:link, a:hover, a:visited {
        color: inherit;
      }

      &__line {
        display: none;

        &--completed {
          display: block;
          position: fixed;
          margin-top: -$global-spacing-unit;
          margin-left: $global-spacing-unit;
          width: 90px;
          z-index: -999;
          border: 1px solid $background-positive;
        }
      }

      &__position {
        display: block;
        margin: auto;
        height: 45px;
        width: 45px;
        line-height: 45px;
        border-radius: 50%;
        background-color: $checkout-grey;

        &--active {
          background-color: $background-positive;
          height: 45px;
          width: 45px;
          border-radius: 50%;
        }

        &--completed {
          background-color: $background-positive;
        }
      }

      &__subtitle {
        padding: $global-spacing-unit-tiny 0 $global-spacing-unit-small;
        font-size: 0.6em;
        width: 100%;
        color: black;

        &--active {
          color: $background-positive;
        }

        &--completed {
          color: $background-positive;
        }
      }

      &--active {
        color: white;
      }

      &--completed {
        color: $background-white;
      }
    }
  }
}
