/* ==========================================================================
   # SearchBar Component
   ========================================================================== */

.c-searchbar {
  height: 4.5rem;

  &__content {
    width: 90%;
    margin: auto;
    padding-top: $global-spacing-unit-small;

    @include breakpoint(desktop) {
      width: auto;
      margin-left: $global-spacing-unit;
      display: flex;
    }
  }
}
