/* ==========================================================================
   # Colour Settings
   ========================================================================== */

$text-default: #7F8FA4;
$text-focus: #354052;
$text-error: #ff0000;
$text-success: #009900;
$text-dark: #383838;
$text-gold: #e68a00;

$background-light: #EFF3F6;
$background-info: #4598B8;
$background-positive: #45B854;
$background-warning: #F7BF47;
$background-negative: #D55742;
$background-white: #ffffff;
$background-dark: #737376;

$border-highlight: #1990EA;
$border-divider: #EFF3F6;
$border-shadow: #DFE2E5;
$border-default: #DADADA;
